@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-Links {
  transition: top 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), border-radius 0.4s ease-in-out; /* Transition for top and border-radius */
}

:root {
  --red: #D01C28;
  --grey: #2E2E2E;
  --light-grey: #f4f7fd;
}

button{
  user-select: unset;
  background-color: var(--red);
  padding-inline: 1vw;
  padding-block: 0.5vw;
  font-weight: 700;
  color: var(--light-grey);
  border-radius: 0.2rem;
}
button:hover{
  color: white;
  background: #B91C1C;
}